<div class="container">
<div class="row ">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;height: 25rem;">
    <div class="card-body">
      <div class="d-flex justify-content-center">
      <i class="fas fa-briefcase fa-10x "></i>
      </div>
      <a href="#" class="btn btn-block btn-primary">Jobs</a>
    </div>
  </div>
  </div>
<div class="col-md-4">
<div class="card" style="width: 18rem;height: 25rem;">
  <div class="card-body">
    <a href="#" class="btn btn-block btn-primary">Organizations</a>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;height: 25rem;">
  <div class="card-body">
    <a href="#" class="btn btn-block btn-primary">Industries</a>
  </div>
</div>
</div>
</div>