<div class="container">
<div class="row ">
  <div class="col-md-4">
    <div class="card bg-primary" style="width: 18rem;height: 25rem;">
    <div class="card-body">
      <div class="d-flex justify-content-center">
      <i class="fas fa-briefcase fa-10x "></i>
      </div>
      <div class="mt-5">
      <a href="/jobs/" class="btn btn-block btn-dark">Jobs</a>
      </div>
    </div>
  </div>
  </div>
<div class="col-md-4">
<div class="card bg-warning" style="width: 18rem;height: 25rem;">
  <div class="card-body">
    <div class="d-flex justify-content-center">
    <i class="fas fa-building fa-10x"></i>
    </div>
    <div class="mt-5">
    <a href="/organizations/" class="btn btn-block btn-dark">Organizations</a>
    </div>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card bg-success" style="width: 18rem;height: 25rem;">
  <div class="card-body">
  <div class="d-flex justify-content-center">
  <i class="fas fa-hammer fa-10x"></i>
  </div>
  <div>
  <div class="mt-5">
    <a href="/industries" class="btn btn-block btn-dark">Industries</a>
    </div>
    </div>
  </div>
</div>
</div>
</div>