<div>
  <div>
    <h1>
      Industries
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new industry
    </h2>
    <form action="/insert_industry" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>


      <button>
        Create industry
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <table>
      <tr>

        <th>
          Name
        </th>

        <th>
          Jobs
        </th>
      </tr>

      <% @list_of_industries.each do |an_industry| %>
      <tr>
  

        <td>
          <a href="/industries/<%= an_industry.id %>">
          <%= an_industry.name %>
          </a>
        </td>

        <td>
          <%= an_industry.jobs_count %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
