<div>
  <div>
    <h1>
      My reviews
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Org
        </th>

        <th>
          Rating
        </th>

        <th>
        
        </th>
        <th>
         
        </th>

      </tr>

      <% @list_of_ratings.each do |a_rating| %>
      <tr>
        <td>
          <%= Organization.where({ :id => a_rating.org_id}).at(0).name %>
        </td>

        <td>
          <%= a_rating.user_rating.to_f %>
        </td>

        <td>
          Edit
        </td>

        <td>
          Delete 
        </td>
      


      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
