<div>
  <div>
    <h1>
      Organizations
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new organization
    </h2>

    <form action="/insert_organization" method="post">
      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button class="btn btn-warning">
        Add organization
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Org
        </th>

        <th>
          Website
        </th>

        
      </tr>

      <% @list_of_organizations.each do |an_organization| %>
      <tr>

        <td>
          <a href="/organizations/<%= an_organization.id %>">
          <%= an_organization.name %>
          </a>
        </td>

        <td>
          <a href="<%= an_organization.website %>" target='_blank'>
          <%= an_organization.website %>
          </a>
        </td>

        


      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
